name: Kick Bot Runner

on:
  push:
    branches: [ "main" ]
  schedule:
    # اجرا هر 6 ساعت یکبار (چون گیت‌هاب اکشن‌ها را بعد از 6 ساعت می‌کشد)
    - cron: '0 */6 * * *'
  workflow_dispatch: # دکمه اجرای دستی

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Bot
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      run: |
        # ربات را اجرا کن. این دستور تا زمانی که گیت‌هاب اجازه دهد (حدود 6 ساعت) باز می‌ماند
        python main.py
